<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s198599.s198599_mappe2">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-sdk android:minSdkVersion="11"/>

    <application
        android:name=".ApplicationState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".BirthdayReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BirthdayService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".services.BirthdayNotificationService"
            android:enabled="true"
            android:exported="true" >
        </service>


        <activity
            android:parentActivityName=".MainActivity"
            android:name=".MyFriends"
            android:label="@string/title_activity_my_friends" >
        </activity>
        <activity
            android:parentActivityName=".MyFriends"
            android:name=".registration_activities.AddPerson"
            android:label="@string/title_activity_add_person" >
        </activity>
        <activity
            android:parentActivityName=".MyFriends"
            android:name=".registration_activities.EditPerson"
            android:label="@string/title_activity_edit_person" >
        </activity>
    </application>



</manifest>
